header
    if users.id === false  
        nav.header 
            a(href=routes.home) Home 
            a(href=routes.join) Join
            a(href=routes.login) Login
            

    else
        nav.header
            p #{users.email}님 
            a(href=routes.home) Home 
            a(href=routes.userInfo(users.id)) Info
            a(href=routes.logout) Logout