if users.id === false  
    .header_column1
        a(href=routes.home) 
            img(src="/uploads/SmartLogo.png" style={ width:"150px", height:"60px"})
    .header_column2
        a(href=routes.join) 
            span 회원가입
        a(href=routes.login) 
            span 로그인
            

else
    .header_column1
        a(href=routes.home)
            img(src="/uploads/SmartLogo.png" style={ width:"150px", height:"60px"})
    .header_column2
        a(href=routes.userInfo(users.id)) 
            span.email #{users.email}
        a(href=routes.logout) 
            span 로그아웃