extends ../partials/main.pug
include ../mixins/comment.pug

block content

    h1 #{restaurant.restaurant_name}
    p #{restaurant.restaurant_tag}

    a(href=`${routes.reserve}${routes.reservation(restaurant._id)}`)
        h1 예약하러가기

    h1 댓글    
    form(action=`${routes.reserve}${routes.comments(restaurant._id)}` method="post")
        if users.id
            p #{user.name}
            input(type="text",name="content",require=true, placeholder="write comment..", cols=40, rows=3, autofocus)
            input(type="submit" value="Sumbit!")
        else
            p Guest는 댓글을 남길 수 없습니다.

    each commenter in commenters
        +comment(commenter)
        
    
    
    script(src="/static/js/editComment.js")
    