
include ../pos/orderForm.pug
include ../partials/modal.pug

mixin bigTable(bigTables, Menu)
    -for(let i=0; i<bigTables.length; i++)
        div(class=`bigTable` id=`bigTable${i}`)
            -for(let j=0; j<bigTables[i].length; j++)
                if j===2
                    .break
                +printTable(bigTables,i,j)
        +modal("order")
            -for(let i=0; i<Menu.length; i++)
                +orderForm(Menu[i], i)
            .price(style="text-align:center; margin:40px 0px 10px 0px")
                span 총액
            .btnOrderBill
                input(type="button" value="주문" class="btnOrder")
                input(type="button" value="계산" class="btnBill")

mixin reserve_bigTable(bigTables,i)
    div(class=`bigTable` id=`bigTable${i}`)
        -for(let j=0; j<bigTables[i].length; j++)
            if j===2
                .break
            +displayTable(bigTables,i,j)


mixin miniTable(miniTables, Menu)
    -for(let i=0; i<miniTables.length; i++)
        div(class=`miniTable` id=`miniTable${i}`)
          -for(let j=0; j<miniTables[i].length; j++)
            +printTable(miniTables,i,j)
            .break
        +modal("order")
            -for(let i=0; i<Menu.length; i++)
                +orderForm(Menu[i], i)
            .price
                span 총액 
            .btnOrderBill
                input(type="button" value="주문" class="btnOrder")
                input(type="button" value="계산" class="btnBill")


mixin reserve_miniTable(miniTables, i)
    .break
    div(class=`miniTable` id=`miniTable${i}`)
      -for(let j=0; j<miniTables[i].length; j++)
        +displayTable(miniTables,i,j)
        .break

//- pos기에서 찍어주기
mixin printTable(tables,i,j)
    div(class="table" id=tables[i][j]._id)
        if tables[i][j].reserved === true
            span 예약석
        
        else if tables[i][j].beUsing === true
            each menu in tables[i][j].menu
                p #{menu.name} #{menu.n} 
            p #{tables[i][j].price}
            p(style="display:none") #{tables[i][j].orderTime}

        else 
            span 빈좌석

//- 예약페이지에서 찍어주기
mixin displayTable(tables,i,j)
    div(class="table" id=tables[i][j]._id)
        if tables[i][j].reserved === true
            span 예약석
        
        else if tables[i][j].beUsing === true
            span 사용중
            p(style="display:none") #{tables[i][j].orderTime}
            
        else 
            h1 빈좌석
        
        
        