mixin userInfo(id)
    input(class="btn_delUser" type="button" value="Delete")
    input(class="userInput" type="button" value="Edit" )
    input(class="userInput" value=user.userId disabled="true")
    input(class="userInput" value=user.name disabled="true")
    input(type="password" class="userInput" value=user.password disabled="true")
    
    span 생일
    input(class="userInput" value=user.birthday disabled="true")
    input(class="userInput" type="button" value="OK")
    

mixin restaurantInfo(restaurant)
    form(action="/ajax/editRestaurant", method="post" enctype="multipart/form-data")
        input(class="btn_delRestaurant" type="button" value="Delete" name="id" id=restaurant._id)
        input(class="btn_editRestaurant" type="button" value="Edit" )

        // form들
        input(class="restaurantDisabled" name="name" value=restaurant.restaurant_name disabled="true")
        select(name="tag" class="restaurantDisabled" value=restaurant.restaurant_tag disabled="true")
            option(value=none) Restaurant tag
            option(value="korean") 한식
            option(value="japanese") 일식
            option(value="chineses") 중식
            option(value="southAsia") 동남아
            option(value="west") 양식            

        input(class="restaurantDisabled" value=restaurant.restaurant_location disabled="true")
        input(type="file" value=restaurant.restaurant_pic class="restaurantDisabled" disabled="true" name="restaurantPic" accept="image/*")
        input(type="text" name="id" value=restaurant._id style="display:none")
        
        input(class="btn_editOK" type="submit" value="OK" style="display:none")