mixin userInfo(id)
    .div_userInfo
        button(class="btn_delUser") 
            i(class="fas fa-trash-alt")
        button(class="userInput")
            i(class="fas fa-pen")
        input(class="userInput" value=user.userId disabled="true")
        input(class="userInput" value=user.name disabled="true")
        input(type="password" class="userInput" value=user.password disabled="true")
        
        span 생일
        input(class="userInput" value=user.birthday disabled="true")
        input(class="userInput" type="button" value="OK")
    

mixin restaurantInfo(restaurant,i)
    form(action="/ajax/editRestaurant", method="post" enctype="multipart/form-data" )
        div(style="width:180px")
            span(class="btn_delRestaurant"  name="id" id=restaurant._id)
                i(class="fas fa-trash-alt" id=restaurant._id)
            span(class="btn_editRestaurant")
                i(class="fas fa-pen")

        //-  가게이름 
        input(class="restaurantDisabled" name="name" value=restaurant.restaurant_name disabled="true" style="font-family: 'Song Myung'")
        select(name="tag" id='tags1' class="restaurantDisabled" value=restaurant.restaurant_tag disabled="true" style="font-family: 'Song Myung'")
            option(value="korean" style="font-family: 'Song Myung'") 한식
            option(value="japanese" style="font-family: Song Myung") 일식
            option(value="chineses" style="font-family: Song Myung") 중식
            option(value="southAsia" style="font-family: Song Myung") 동남아
            option(value="west" style="font-family: Song Myung") 양식
                        
        //- 위치
        input(class="restaurantDisabled" value=restaurant.restaurant_location disabled="true" placeholder="위치")
        
        .div_form_file
            input(type="file" id=`form_file${i}` style="opacity:0" class="restaurantDisabled" disabled="true" name="restaurantPic" accept="image/*")
            label(for=`form_file${i}` class="userInfoForm_txt" name="pic") #{restaurant.restaurant_pic}
            label(for=`form_file${i}` class="userInfoForm_img") 

        input(type="text" name="id" value=restaurant._id style="display:none")
        
        //- 완료버튼
        input(class="btn_editOK" type="submit" value="완료!" style={display:"none", width:"100px", margin:"20px 0"})