extends ../partials/main.pug
include ../partials/modal.pug

block content 
    input(type="button" id="btn_userInfo" value=`${user.name}님의 정보`)
    +modal("UserInfo")
        p 이름 #{user.name}
        p 이메일 #{user.email}
        p 성별 #{user.gender}
        p 생일 #{user.birthday}
        p 가입일 #{user.createAt}
        

    input(type="button" id="btn_comment" value ="댓글함")
    +modal("Comment")
        each comment in user.comments
            p 아직 점검중!

    input(type="button" id="btn_reservation" value ="내 예약")
    +modal("Reservation")
        each mail in user.mails
            p 아직 점검중!

    input(type="button" id="btn_restaurant" value ="내 식당")
    +modal("Restaurant")
        each mail in user.mails
            p 아직 점검중!

    input(type="button" id="btn_mail" value="메일함")
    +modal("Mail")
        each mail in user.mails
            div(class="mailHead") #{mail.header} 
                +modal()
                    p #{mail.content}

    script(src="/static/js/ajax_userInfo.js")