extends ../partials/main.pug
include ../partials/modal.pug
include ../mixins/user.pug
include ../mixins/comment.pug

block content
    .info
        span(id="btn_userInfo" style="cursor:pointer") #{user.name}님의 정보
            +modal("UserInfo")
                +userInfo(user._id)
            
        span(id="btn_comment" style="cursor:pointer") 댓글함
            +modal("Comment")
                each comment in user.comments
                    +infoComments(comment,restaurants)

        span(id="btn_reservation" style="cursor:pointer") 예약내역
            +modal("Reservation")
                -for(let i=user.reservations.length; i>0; i--)
                    .reservationHead #{user.reservations[i-1].name}이름의 예약입니다. #{user.reservations[i-1].createAt}
                        +modal_modal()
                            .detailed
                                span(id=user.reservations[i-1].restaurant._id class="restaurantID") #{user.reservations[i-1].name}님 #{user.reservations[i-1].reservationDate}일시에 #{user.reservations[i-1].guests}명 방문예정입니다.
                                input(type="button" value="삭제" class="deleteReservation" id=user.reservations[i-1].id)
                

        span(id="btn_restaurant" style="cursor:pointer") 내식당
            +modal("Restaurant")
                -for(let i=0; i<user.restaurants.length; i++)
                    -var restaurant = user.restaurants[i];
                    .restaurantHead(id=i) #{restaurant.restaurant_name}
                        +modal()
                            +restaurantInfo(restaurant, i)
                    
        span(id="btn_mail" class="absoluteParent" style="cursor:pointer;") 메일함
            if unreadMails !== 0
                .mail_alarm(style="position:relative")
                    i(class="far fa-comment" id="parentMail")
                        p(class="absoluteChild") #{unreadMails}
            +modal("Mail")
                -for(let i=user.mails.length; i>0; i--)
                    if user.mails[i-1].read === false
                        .mailHead(id=user.mails[i-1]._id style="")
                            span #{user.mails[i-1].header}
                            button(class="deleteMail" value="X" style="opacity:0") X
                            +modal_modal()
                                p #{user.mails[i-1].content}
                    else
                        .mailHead(id=user.mails[i-1]._id style="")
                            span(style="opacity:0.4") #{user.mails[i-1].header} 
                            button(class="deleteMail" value="X" style="opacity:0") X
                            +modal_modal()
                                p(style="clear:both;padding:10px;") #{user.mails[i-1].content}
                

    script(src="/static/js/ajax_userInfo.js")
    script(src="/static/js/editComment.js")